.btn {
  position: relative;
  display: block;
  width: 170px;
  height: 60px;
  background-color: var(--c-light);
  color: var(--c-second);
  font-size: 18px;
  font-weight: 700;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  transition: box-shadow 0.3s ease 0s;
}

.btn__btn {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: transparent;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #9c69e2 0%, #752ed8 100%);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

@media (any-hover: hover) {
  .btn:hover::after {
    opacity: 1;
  }
}
